# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Dotenv configuration
.env

# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VisualStudioCode Patch
**/.history

# Local Test
play
